.active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: blue;
    border: 0;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

ul {
  list-style: none;
}

.mg {
  margin-bottom: 12px;
}
